<div class="header">
    <ul class="nav nav-pills pull-right">
        <li ui-sref-active="active"><a ui-sref="home">На головну</a></li>
        <li ui-sref-active="active"><a  ui-sref="statistics">Статистика</a></li>
        <li ui-sref-active="active"><a  ui-sref="about">Про авторів</a></li>

        <li ui-sref-active="active"
            ng-if="gameState.isStarted && !gameState.isFinished && !gameState.lastRequestSended">
            <a ui-sref="game({stage: gameState.stage})">Питання : {{gameState.stage}}</a>
        </li>
        <li ui-sref-active="active"
            ng-if="gameState.isFinished && !gameState.lastRequestSended">
            <a ui-sref="end">Кінець гри</a>
        </li>
    </ul>
    <h3 class="text-muted" ui-sref="home">Акінатор</h3>
</div>