<div ng-controller="GameController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Вопрос: {{stage}}</h3>
        </div>
        <div class="panel-body">
            <p>
                <span>{{question}}</span>

            </p>
            <br>
            <form role="form">
                <div class="form-group ">
                    <button type="button" class="btn btn-default" ui-sref="stage({stage: 1})">Да</button>
                    <button type="button" class="btn btn-default" ui-sref="stage({stage: 1})">Нет</button>
                    <button type="button" class="btn btn-default" ui-sref="stage({stage: 1})">Возможно частично</button>
                    <button type="button" class="btn btn-default" i-sref="stage({stage: 1})">Не знаю</button>
                </div>
            </form>
        </div>
    </div>

</div>